

.text.second-text{
    position: relative;
}

.text.second-text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-left:2px solid #ff5823 ;
    background-color: #25263A;
    color: #25263A;
    animation: anim 2s steps(10) infinite;
    z-index: 1;
}

@keyframes anim {
    0%,40%{
        left: 0%;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 10%;
    }
}

